.reports-filters {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: var(--spacing-md);
  align-items: end;
  margin-bottom: var(--spacing-lg);
}

.reports-filter-button {
  min-width: 180px;
  margin-bottom: var(--spacing-md);
}
.reports-filters Button{
    height: 43px;
}

.reports-chart {
  padding: var(--spacing-md) 0;
}

@media (max-width: 768px) {
  .reports-filters {
    grid-template-columns: 1fr;
  }
}
